@tailwind base;
@tailwind components;
@tailwind utilities;
  
input:focus {
  outline: none;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none !important;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.dbBg {
  background-image: url("../assets/dasbboard_bg.png");
}